.full_page {
  position: relative;
  min-height: 100vh;
  background-color: var(--background-color);
}

.bubble_background2 {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  height: calc(100% - 65px);
  overflow: hidden;
  z-index: 0;
  pointer-events: none;
}

.bouncing_bubble {
  position: absolute;
  z-index: 1;
  pointer-events: auto;
  transition: transform 0.1s linear;
}

.decorative_bubble {
  background: pink;
  opacity: 0.3;
  filter: blur(3px);
  border-radius: 50%;
}

.bubbles_beneath_modal .bouncing_bubble {
  opacity: 0;
  pointer-events: none;
  z-index: 0 !important;
}

.bubble_card {
  width: 240px;
  height: 240px;
}
