@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Cormorant+Garamond:wght@400;600&family=Homemade+Apple&display=swap');


* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}


:root {
  --background-color: rgb(245, 237, 240); 
  --alternate-color: rgba(239, 209, 209, 0.95);
  --dark-color: rgb(48, 23, 18);  
  --light-color: rgba(237, 237, 233, 0.9)
}

.full_page {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Cormorant Garamond', serif;
  background-image: url('/back.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  color: var(--dark-color);
}


/* ----------------------------------MAIN SECTION ----------------------------------------------*/
.main_section {
  width: 100%;
  min-height: 90vh; 
  height: auto;
  margin-top: 4rem;
  margin-left: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 2rem;
  box-sizing: border-box;
  color: var(--dark-color); 
}

.main_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 65px;
  width: 100%;
  max-width: 1200px;
}

.main_image,
.main_content {
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}

.main_content {
  text-align: left; 
  align-items: flex-start; 
}

.main_image img {
  margin-top: 30px;
  width: 75%;
  max-width: 360px;
  border-radius: 15px; 
  box-shadow: 0 10px 30px rgba(74, 32, 48, 0.1);
  border: 3px solid var(--dark-color);
}

.main_content h1 {
  margin-top: 0;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  color: var(--dark-color); 
  font-size: 4.5rem;
  line-height: 1.1;
}

.main_content h2 { 
  margin-top: 0;
  font-family: 'Homemade Apple', cursive; 
  font-weight: 400;
  color: var(--dark-color);
  font-size: 3rem; 
  margin-bottom: 1.5rem;
}

.main_content p {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.3rem;
  line-height: 1.6;
  max-width: 500px;
}

.cta_btn {
  background-color: transparent; 
  border: 2px solid var(--dark-color);
  color: var(--dark-color); 
  font-family: 'Playfair Display', serif;
  font-weight: 700; 
  padding: 0.9rem 2.2rem;
  border-radius: 8px; 
  text-decoration: none;
  transition: all 0.4s ease;
  display: inline-block;
  margin-top: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 2px; 
}

.cta_btn:hover {
  background-color: var(--dark-color); 
  color: var(--light-color);
  border-color: var(--background-color);
  box-shadow: 0 4px 12px rgba(74, 32, 48, 0.2); 
  transform: translateY(-1px);
}



/* ------------------------PROJECTS SECTION ------------------------------------------*/
.projects_section {
  position: relative;
  width: calc(100% - 40px);
  max-width: 1200px;
  margin: 0px auto 80px auto;
  padding: 3rem 4rem; 
  /*background-color: var(--light-color);

  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(74, 32, 48, 0.1);*/
  border: none; 
  text-align: center;
  box-sizing: border-box;
  color: var(--dark-color);
  font-family: 'Playfair Display', serif;
  z-index: 10;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

/*.projects_section:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 24px rgba(74, 32, 48, 0.15);
}*/

.projects_section .section_title {
  font-size: 3rem; 
  margin-bottom: 3rem;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  color: var(--dark-color); 
  position: relative;
}

.projects_section .section_title ::after {
  content: none;
  text-decoration: none;
}

.projects_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.project_card {
  background-color: var(--alternate-color); 
  border: none; 
  border-radius: 10px; 
  padding: 2.5rem 1.5rem; 
  box-sizing: border-box;
  box-shadow: 0 2px 10px rgba(74, 32, 48, 0.08); 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  text-align: center;
}

.project_card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(74, 32, 48, 0.15); 
}

.project_card h3 {
  font-family: 'Homemade Apple', cursive;
  text-decoration: none;
  font-weight: 400;
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
  color: var(--dark-color); 
}

.project_card p {
  font-family: 'Cormorant Garamond', serif;
  color: var(--dark-color);
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 400;
}

.project_card .skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  justify-content: center;
}

.project_card .skills span {
  border: none;
  border-radius: 30px;
  padding: 0.4rem 1rem;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  background-color: var(--dark-color);
  color: var(--light-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 1rem;
  text-transform: capitalize;
}

.project_card .skills span:hover {
  background-color: var(--dark-color); 
  color: var(--light-color);
  border: none; 
}

.project_card img {
  width: 100%;     
  height: 200px;    
  object-fit: cover; 
  border-radius: 10px; 
  margin-bottom: 1.5rem; 
  transition: transform 0.3s ease;
    border: 1px solid rgba(74, 32, 48, 0.2); 
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08); 
  
}

.project_card:hover img {
  transform: scale(1.02); 
}


.projects_section a {
  text-decoration: none;  
  color: inherit;   
  transition: none;  
}

.projects_section a:hover,
.projects_section a:focus,
.projects_section a:active {
  text-decoration: none;  
  color: inherit; 
}




/* ------------------------------SKILLS SECTION -------------------------------------------------*/
.skills_section {
  position: relative;
  width: calc(100% - 40px);
  max-width: 1200px; 
  margin: 70px auto 140px auto;
  padding: 3rem 4rem;
  text-align: center;
  background-color: var(--alternate-color); 
  border-radius: 10px; 
  box-shadow: 0 4px 12px rgba(74, 32, 48, 0.1);
  border: none;
  box-sizing: border-box;
  color: var(--dark-color); 
  font-family: 'Playfair Display', serif;
  z-index: 10;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}


.skills_section:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 24px rgba(74, 32, 48, 0.15);
}

.skills_section .section_title {
  font-size: 3rem;
  margin-bottom: 3rem;
  color: var(--dark-color);
  font-weight: 700;
  position: relative;
}

.skills_section .section_title h3::after {
  content: none; 
  text-decoration: none;
}

.skills_grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  max-width: 900px;
  margin: 0 auto;
}

.skills_grid .skill {
  border-radius: 40px;
  padding: 0.8rem 1.8rem;
  font-weight: 600;
  background-color: var(--dark-color); 
  color: var(--light-color); 
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.2rem;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(74, 32, 48, 0.2);
}

.skills_grid .skill:hover {

  box-shadow: 0 6px 15px rgba(74, 32, 48, 0.15); 
  background-color: var(--dark-color); 
  color: var(--light-color);
  border: none; 

}

.projects_section a:visited {
  color: var(--dark-color); 
}




/* -------------------------------------------CONTACT SECTION -------------------------------
.contact_section {
  background-color: var(--alternate-color); 
  width: 100%;
  padding: 4rem 2rem 5rem 2rem; 
  text-align: center;
  color: var(--dark-color); 
  box-sizing: border-box;
}

.contact_section .section_title {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  color: var(--dark-color); 
  margin-bottom: 3rem;
  font-weight: 700;
}

.contact_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  max-width: 550px;
  margin: 0 auto 3.5rem auto;
}

.contact_form input,
.contact_form textarea {
  width: 100%;
  background-color: var(--light-color); 
  border: 1px solid var(--alternate-color); 
  border-radius: 8px; 
  padding: 1rem;
  color: var(--dark-color);
  font-size: 1.1rem;
  outline: none;
  font-family: 'Cormorant Garamond', serif;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.contact_form input:focus,
.contact_form textarea:focus {
  border-color: var(--dark-color);
  box-shadow: 0 0 0 2px rgba(74, 32, 48, 0.2);
}

.contact_form textarea {
  height: 150px;
  resize: vertical; 
}


.contact_btn {
  background-color: var(--dark-color);
  color: var(--light-color);
  border: none;
  padding: 0.9rem 2.2rem;
  border-radius: 8px;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 1.5rem;
  box-shadow: 0 4px 12px rgba(74, 32, 48, 0.2);
}

.contact_btn:hover {
  background-color: var(--light-color); 
  color: var(--dark-color); 
  border: 2px solid var(--dark-color); 
}


.social_links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.social_links a {
  color: var(--dark-color); 
  text-decoration: none;
  font-weight: 600;
  font-family: 'Playfair Display', serif;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.social_links a:hover {
  color: var(--light-color);
}

*/

/**-------------------------MOBILE--------------------------------------------*/


@media (max-width: 768px) {

  .main_section {
  margin-top: 0rem;
  margin-left: 0rem;
  }

  .main_container {
    margin-top: 0;
    margin-left:0; 
    flex-direction: column;
    text-align: center;
    min-height: auto;
  }

  .main_content {
    padding-left: 0;
    margin-top: 0;
    margin-left: 0; 
    text-align: center;
    align-items: center;
  }

  .main_image img {
    width: 70%;
  }

  .main_content h1 {
    font-size: 3.5rem;
  }

  .main_content h2 {
    font-size: 2rem;
  }

  .projects_section,
  .skills_section {
    width: 100%;
    padding: 2rem 1rem;
    margin: 50px auto;
  }


  .projects_grid {
    grid-template-columns: 1fr; 
    gap: 2rem;
  }

  .project_card {
    padding: 1.5rem;
  }

  .projects_section .section_title,
  .skills_section .section_title {
    font-size: 2.2rem;
  }

  .project_card h3 {
    font-size: 1.8rem;
  }



  .contact_section {
    padding: 3rem 1.5rem;
  }

  .contact_form {
    width: 100%;
  }
}


